KADMIN_DB_HOST=127.0.0.1
KADMIN_DB_PORT=15432
KADMIN_DB_USER=postgres
KADMIN_DB_PASSWORD=kadmin_dev_pwd
KADMIN_DB_NAME=kadmin
KADMIN_APP_PORT=9033
KADMIN_ADMINER_PORT=18080
KADMIN_REDIS_HOST=127.0.0.1
KADMIN_REDIS_PORT=16379
KADMIN_REDIS_PASSWORD=kadmin_redis_pwd
KADMIN_REDIS_DB=0
