KADMIN_DB_HOST=127.0.0.1
KADMIN_DB_PORT=15432
KADMIN_DB_USER=postgres
KADMIN_DB_PASSWORD=kadmin_dev_pwd
KADMIN_DB_NAME=kadmin
KADMIN_APP_PORT=9033
KADMIN_ADMINER_PORT=18080
KADMIN_REDIS_HOST=127.0.0.1
KADMIN_REDIS_PORT=16379
KADMIN_REDIS_PASSWORD=kadmin_redis_pwd
KADMIN_REDIS_DB=0
KADMIN_MINIO_ENABLED=false
KADMIN_MINIO_API_PORT=19000
KADMIN_MINIO_CONSOLE_PORT=19001
KADMIN_MINIO_ENDPOINT=127.0.0.1:19000
KADMIN_MINIO_INTERNAL_ENDPOINT=minio:9000
KADMIN_MINIO_ACCESS_KEY=kadmin_minio
KADMIN_MINIO_SECRET_KEY=kadmin_minio_pwd
KADMIN_MINIO_BUCKET=kadmin
KADMIN_MINIO_USE_SSL=false
