PEZMAX_DB_HOST=127.0.0.1
PEZMAX_DB_PORT=15432
PEZMAX_DB_USER=postgres
PEZMAX_DB_PASSWORD=pezmax_dev_pwd
PEZMAX_DB_NAME=pezmax
PEZMAX_APP_PORT=9033
PEZMAX_ADMINER_PORT=18080
PEZMAX_REDIS_HOST=127.0.0.1
PEZMAX_REDIS_PORT=16379
PEZMAX_REDIS_PASSWORD=pezmax_redis_pwd
PEZMAX_REDIS_DB=0
